@CHARSET "UTF-8";
.h2_square{position: absolute;top:25px; left:-10px;}
.h2{
  margin:0 auto;width: 95%; line-height: 100px;
  font-size:28px;color:#323232;
  font-weight: bold;text-indent: 25px;
  border-bottom: 1px solid #c8c8c8;
}
/*-------------------------------------------------------------------------*/
.search_form_01{
	margin:0 auto;margin-top:40px;
	padding: 20px 0 10px 30px; box-sizing: border-box;
	width: 90%;
	min-width: 1100px;
	background: #F2F4F6;
}
.search_form_01>label{
	display: inline-block;text-align: right;
	margin:0 5px 10px 35px; font-size:14px;
	color:#323232;line-height: 30px;
	font-weight: bold;
}
.search_form_01>label.first_label{
	display: inline-block;
	width: 90px; margin-left:-5px;
	text-align: right;
}
input.btn_calendar{
	position: relative; padding:10px;
	margin-right: 5px;width:28px;height:30px;
	background:url(../images/icon-calendar.png);
}
/*-------------------------------------------------------------------------*/
.btn_wrap{margin: 0 auto; width: 90%; min-width: 1200px; text-align: right;}
.btn_search{
	margin-top: 10px;
	width: 120px;height:30px;
	background: #466482;
	color:#ffffff; font-size: 14px;
	font-weight: bold;border-radius: 4px;
	}

/*--------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
.result_list{
	position: relative;
 margin: 0 auto; margin-top:80px; min-width: 1100px; width: 90%;
}
.result_list_del{
	position: relative;
 margin: 0 auto; margin-top:50px; min-width: 1100px; width: 90%;
}
/*result_table------------------------------------------------------------------*/
.result_table{
width: 100%; /*height:240px;*/min-width: 1100px;
border-bottom: 1px solid #466482;
box-sizing: border-box;
}
.table_name{
  margin-left: 30px;display: inline;line-height: 33px;
  font-size:14px; color:#323232;font-weight: bold;
}
.result_table tr{height:40px;}
.result_table tr:nth-of-type(odd){background:#F2F4F6 }
/*.result_table tr:nth-of-type(odd):active{background:#deeae4 }
.result_table tr:nth-of-type(even):active{background:#eeeeee }*/
.result_table th, .result_table th a{
	background: #466482;
	font-weight: bold;
	color:#ffffff;font-size: 14px;
}
.result_table td, .result_table td a{
	font-size:13px;
	overflow: hidden;/*white-space: nowrap;*/
	text-align: center;color:#5a5a5a;
}
.result_table td a:hover {
	text-decoration: underline;
}
input.check{display: none;}
input.check+label.check_wrap{
	position: relative; top:5px;
	display: inline-block;
	height: 20px;padding-left:20px;
	background: url(../images/checkbox-off.png) no-repeat left top;
}
input.check:checked+label.check_wrap{background:url(../images/checkbox-on2.png) no-repeat left top;}

/*table_paging---------------------------------------------------------------*/
.paging_wrap{text-align: center;margin-top: 40px;}
.paging_wrap li{
	display: inline-block;margin-right: -5px;
	width: 30px; height:30px;font-size:14px;
	border: 1px solid #c8c8c8; border-right:none;
	text-align: center;line-height: 30px;
	color:#323232;
}
.paging_wrap li:hover{background: #F2F4F6}
.paging_wrap li:active{background: #3C9BD7;color:#ffffff;}
.paging_wrap li.paging_end{border-right: 1px solid #c8c8c8;}
/*table_button--------------------------------------------------------------*/
.btn_wrap_ab{position: absolute;top:-30px; left:0;}
.btn_wrap_ab input[type="button"],
.btn_extra input[type="button"]{
	width:100px;height:25px;color:#ffffff;
	line-height: 25px;
}
.btn_extra{
	display: inline-block;
	position: absolute;top:-30px; right:0;
}
input.btn_approve{background: #466482;}
input.btn_sms{background: #41825F;}
input.btn_refuse{background: #c85032;}
input.btn_approve:active{background: #32506e;}
input.btn_sms:active{background: #2d6e4b;}
input.btn_refuse:active{background: #b43c1e;}
/*return--------------------------------------------------------------*/
input.btn_borrow{
  width: 40px; height:22px;line-height: 22px;
  background: #3c9bd7; color:#ffffff;
}
input.btn_return{
  width: 40px; height:22px;line-height: 22px;
  background: #f57878; color:#ffffff;
}
/*delivery01--------------------------------------------------------------*/
input.btn_request{
  margin-top: 10px;margin-right: 5px;
	width: 120px;height:30px;
	background: #3c9bd7;
	color:#ffffff; font-size: 14px;
	font-weight: bold;border-radius: 4px;
}
input.btn_complete{
	margin-top: 10px;
	width: 120px;height:30px;
	background: #f57878;
	color:#ffffff; font-size: 14px;
	font-weight: bold;border-radius: 4px;
	}
.btn_wrap_1000{
    width: 1000px;
    text-align:right;margin-bottom: 5px;
}
.btn_add{
  width: 80px; height: 25px;
  color: #ffffff;line-height: 25px;
  background: #466482
}
.btn_add:active{background:#32506e}
.btn_delete{
  width: 80px; height: 25px;
  color: #ffffff;line-height: 25px;
  background: #c85032
}
.btn_delete:active{background:#b43c1e}

input.btn_regist{
  margin-top: 10px;margin-right: 5px;
	width: 120px;height:30px;
	background: #3c9bd7;
	color:#ffffff; font-size: 14px;
	font-weight: bold;border-radius: 4px;
}
input.btn_list{
  margin-top: 10px;margin-right: 5px;
	width: 120px;height:30px;
	background: #466482;
	color:#ffffff; font-size: 14px;
	font-weight: bold;border-radius: 4px;
}
.search_form_field {
	display:inline-block;
	width:24%;
	min-width:345px;
	margin:5px 0;
}
.search_form_01 .search_form_field .search_form_label {
	text-align:right;
	display: inline-block;
	font-size:14px;
	color:#323232;
	font-weight:bold;
	height:100%;
	width:100px;
	margin:0 10px;
}

.result_list_wrapper {
	width:100%;
	overflow-x:auto;
}

.S05 {
	color:#41825F;
}
.U02 {
	color:#c85032;
}
.S06, .S07 {
	/*color:#466482;*/
	color:#3C9BD7;
}
